body {
  background-color: #f5f5f0;
  font-family: Helvetica;
  width: 420px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

h1 {
  background-color: #ffcc00;
  color: #660066;
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  border: 1px solid #ffcc00;
  border-radius: 10px;
}

ul {
  background-color: white;
  list-style-type: circle;
}

.container {
  display: flex;
  align: center;
  margin-bottom: 7px;
}

#itemInput {
  width: 250px;
  border: solid 1px #660066;
  padding: 8px;
  border-radius: 10px;
}

button {
  width: 70px;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}

#addButton {
  background-color: green;
}

#clearAll {
  background-color: red;
}

#counter {
  display: inline-flex;
  background-color: #ffcc00;
  margin-left: auto;
  border: 1px;
  border-radius: 10px;
  align-items: center;
}

.plusMinus {
  font-size: 24px;
  padding: 4px;
}

#number {
  background-color: #ffe680;
  color: #660066;
  font-size: 18px;
  padding: 4px;
  font-weight: bold;
}
